.player-ans-showBox {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5em 5em;
  font-size: 2em;
}

.btn {
  padding: 10px 20px;
}

.guess-btn {
  width: 40%;
  padding: 1em;
  color: #444;
  background-color: wheat;
  font-weight: bolder;
  border-radius: 5px;
}

.player-input {
  display: block;
  margin-bottom: 30px;
  width: 70%;
  padding: 1em;
}
